.App {
    text-align: center;
}

.App-header {
    background-color: #62D;
    height: 60px;
    padding: 20px;
    color: white;   
}

.App-footer {
    background-color: #555;
    height: 60px;
    position:absolute;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
}
