.App {
}

.App-banner {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.App-header {
    background-color: #77A6B6;
    height: 160px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-footer {
    background-color: #555;
    height: 60px;
    position:absolute;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
}
